p3-servidor/src/main/webapp/wsdl/operacionescalculadora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OperacionesCalculadoraService" targetNamespace="http://calculadora/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://calculadora/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://calculadora/" version="1.0" xmlns:tns="http://calculadora/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="implementacionDividir" type="tns:implementacionDividir"/>
  <xs:element name="implementacionDividirResponse" type="tns:implementacionDividirResponse"/>
  <xs:element name="implementacionGetOperaciones" type="tns:implementacionGetOperaciones"/>
  <xs:element name="implementacionGetOperacionesResponse" type="tns:implementacionGetOperacionesResponse"/>
  <xs:element name="implementacionMA" type="tns:implementacionMA"/>
  <xs:element name="implementacionMAResponse" type="tns:implementacionMAResponse"/>
  <xs:element name="implementacionML" type="tns:implementacionML"/>
  <xs:element name="implementacionMLResponse" type="tns:implementacionMLResponse"/>
  <xs:element name="implementacionMO" type="tns:implementacionMO"/>
  <xs:element name="implementacionMOResponse" type="tns:implementacionMOResponse"/>
  <xs:element name="implementacionMultiplicar" type="tns:implementacionMultiplicar"/>
  <xs:element name="implementacionMultiplicarResponse" type="tns:implementacionMultiplicarResponse"/>
  <xs:element name="implementacionOperar" type="tns:implementacionOperar"/>
  <xs:element name="implementacionOperarResponse" type="tns:implementacionOperarResponse"/>
  <xs:element name="implementacionRestar" type="tns:implementacionRestar"/>
  <xs:element name="implementacionRestarResponse" type="tns:implementacionRestarResponse"/>
  <xs:element name="implementacionSumar" type="tns:implementacionSumar"/>
  <xs:element name="implementacionSumarResponse" type="tns:implementacionSumarResponse"/>
  <xs:element name="implementacionUR" type="tns:implementacionUR"/>
  <xs:element name="implementacionURResponse" type="tns:implementacionURResponse"/>
  <xs:complexType name="implementacionRestar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double"/>
      <xs:element name="arg1" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionRestarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionDividir">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double"/>
      <xs:element name="arg1" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionDividirResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionMultiplicar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double"/>
      <xs:element name="arg1" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionMultiplicarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionSumar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double"/>
      <xs:element name="arg1" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionSumarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionMA">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="implementacionMAResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="implementacionMO">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="implementacionMOResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionML">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="implementacionMLResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="implementacionOperar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
      <xs:element name="arg1" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionOperarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionGetOperaciones">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionGetOperacionesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="implementacionUR">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="implementacionURResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="implementacionRestar">
    <wsdl:part name="parameters" element="tns:implementacionRestar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionDividir">
    <wsdl:part name="parameters" element="tns:implementacionDividir">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionMultiplicar">
    <wsdl:part name="parameters" element="tns:implementacionMultiplicar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionOperarResponse">
    <wsdl:part name="parameters" element="tns:implementacionOperarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionMLResponse">
    <wsdl:part name="parameters" element="tns:implementacionMLResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionRestarResponse">
    <wsdl:part name="parameters" element="tns:implementacionRestarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionMultiplicarResponse">
    <wsdl:part name="parameters" element="tns:implementacionMultiplicarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionMO">
    <wsdl:part name="parameters" element="tns:implementacionMO">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionML">
    <wsdl:part name="parameters" element="tns:implementacionML">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionGetOperacionesResponse">
    <wsdl:part name="parameters" element="tns:implementacionGetOperacionesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionGetOperaciones">
    <wsdl:part name="parameters" element="tns:implementacionGetOperaciones">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionUR">
    <wsdl:part name="parameters" element="tns:implementacionUR">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionMAResponse">
    <wsdl:part name="parameters" element="tns:implementacionMAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionSumarResponse">
    <wsdl:part name="parameters" element="tns:implementacionSumarResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionMOResponse">
    <wsdl:part name="parameters" element="tns:implementacionMOResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionDividirResponse">
    <wsdl:part name="parameters" element="tns:implementacionDividirResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionSumar">
    <wsdl:part name="parameters" element="tns:implementacionSumar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionMA">
    <wsdl:part name="parameters" element="tns:implementacionMA">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionOperar">
    <wsdl:part name="parameters" element="tns:implementacionOperar">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="implementacionURResponse">
    <wsdl:part name="parameters" element="tns:implementacionURResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OperacionesCalculadora">
    <wsdl:operation name="implementacionRestar">
      <wsdl:input name="implementacionRestar" message="tns:implementacionRestar">
    </wsdl:input>
      <wsdl:output name="implementacionRestarResponse" message="tns:implementacionRestarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionDividir">
      <wsdl:input name="implementacionDividir" message="tns:implementacionDividir">
    </wsdl:input>
      <wsdl:output name="implementacionDividirResponse" message="tns:implementacionDividirResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="implementacionMultiplicar">
      <wsdl:input name="implementacionMultiplicar" message="tns:implementacionMultiplicar">
    </wsdl:input>
      <wsdl:output name="implementacionMultiplicarResponse" message="tns:implementacionMultiplicarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionSumar">
      <wsdl:input name="implementacionSumar" message="tns:implementacionSumar">
    </wsdl:input>
      <wsdl:output name="implementacionSumarResponse" message="tns:implementacionSumarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionMA">
      <wsdl:input name="implementacionMA" message="tns:implementacionMA">
    </wsdl:input>
      <wsdl:output name="implementacionMAResponse" message="tns:implementacionMAResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionMO">
      <wsdl:input name="implementacionMO" message="tns:implementacionMO">
    </wsdl:input>
      <wsdl:output name="implementacionMOResponse" message="tns:implementacionMOResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionML">
      <wsdl:input name="implementacionML" message="tns:implementacionML">
    </wsdl:input>
      <wsdl:output name="implementacionMLResponse" message="tns:implementacionMLResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionOperar">
      <wsdl:input name="implementacionOperar" message="tns:implementacionOperar">
    </wsdl:input>
      <wsdl:output name="implementacionOperarResponse" message="tns:implementacionOperarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionGetOperaciones">
      <wsdl:input name="implementacionGetOperaciones" message="tns:implementacionGetOperaciones">
    </wsdl:input>
      <wsdl:output name="implementacionGetOperacionesResponse" message="tns:implementacionGetOperacionesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionUR">
      <wsdl:input name="implementacionUR" message="tns:implementacionUR">
    </wsdl:input>
      <wsdl:output name="implementacionURResponse" message="tns:implementacionURResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OperacionesCalculadoraServiceSoapBinding" type="tns:OperacionesCalculadora">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="implementacionRestar">
      <soap:operation soapAction="urn:ImplementacionRestar" style="document"/>
      <wsdl:input name="implementacionRestar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="implementacionRestarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionDividir">
      <soap:operation soapAction="urn:ImplementacionDividir" style="document"/>
      <wsdl:input name="implementacionDividir">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="implementacionDividirResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="implementacionMultiplicar">
      <soap:operation soapAction="urn:ImplementacionMultiplicar" style="document"/>
      <wsdl:input name="implementacionMultiplicar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="implementacionMultiplicarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionSumar">
      <soap:operation soapAction="urn:ImplementacionSumar" style="document"/>
      <wsdl:input name="implementacionSumar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="implementacionSumarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionMA">
      <soap:operation soapAction="urn:ImplementacionMA" style="document"/>
      <wsdl:input name="implementacionMA">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="implementacionMAResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionMO">
      <soap:operation soapAction="urn:ImplementacionMO" style="document"/>
      <wsdl:input name="implementacionMO">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="implementacionMOResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionML">
      <soap:operation soapAction="urn:ImplementacionML" style="document"/>
      <wsdl:input name="implementacionML">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="implementacionMLResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionOperar">
      <soap:operation soapAction="urn:ImplementacionOperar" style="document"/>
      <wsdl:input name="implementacionOperar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="implementacionOperarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionGetOperaciones">
      <soap:operation soapAction="urn:ImplementacionGetOperaciones" style="document"/>
      <wsdl:input name="implementacionGetOperaciones">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="implementacionGetOperacionesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="implementacionUR">
      <soap:operation soapAction="urn:ImplementacionUR" style="document"/>
      <wsdl:input name="implementacionUR">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="implementacionURResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OperacionesCalculadoraService">
    <wsdl:port name="OperacionesCalculadoraPort" binding="tns:OperacionesCalculadoraServiceSoapBinding">
      <soap:address location="http://localhost:8080/p3-servidor/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
